body{
    padding: 30px;
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
}

li{
    list-style-type: none;
}

.hero-image-div{
    width: 100%;
}

.hero-image{
    width: inherit;
}

.main-nav-ul{
    text-align: center;
    padding: 0px;
    margin-top: 4px;
}

.main-nav-ul>li{
    display: inline-block;
    padding: 0px 16px;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: lowercase;
    vertical-align: middle;
}

footer{
    text-align: center;
}

#show-ul{
    position: relative;
}
.sub-nav-ul{
    display: none;
    position: absolute;
    z-index: 1;
    text-align: left;
    min-width: 150px;
    padding: 0px;
}

.footer-nav{
    display: inline-block;
    width: 30%;
    vertical-align: middle;
    text-align: center;
}

.footer-nav-ul{
    padding: 0px;
    text-align: center;
}

.div-footer{
    margin-top: 28px;
}

.copyright{
    font-size: 10px;
    margin-top: 30px;
}

.social-links>li{
    display: inline-block;
    padding: 0px 10px;
    font-size: 22px;
}

.terms>li{
    padding: 4px 0px;
}

.shade-dark{
    font-weight: 400;
}

a{
    text-decoration: none;
    color: initial;
}

section{
    text-align: center;
}

.hero-message{
    font-size: 16px;
    letter-spacing: 5px;
    text-align: center;
    margin: 8px;
    line-height: 1.8;
}

.small-card{
    text-align: center;
}

.logo-title{
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0px;
    padding-bottom: 0px;
}

.logo-main{
    padding: 14px 0px;
}

.col{
    width: 40%;
    display: inline-block;
}

.col>img{
    width: inherit;
}

/*----testing-----*/

.row{
    width: 100%;
    margin: 18px 0px;
    text-align: center;
}

.col-one, .col-three, .col-four{
    width: 40%;
    display: inline-block;
    text-align: center;
}

.col-one>img{
    display: inline-block;
    width: 70%;
}

.col-two{
    width: 100%;
    text-align: center;
}

.col-two>img{
    width: 70%;
}

.col-three>img{
    width: 100%;
    height: 45vw;
    object-fit: cover;
}

.col-four>img{
    width: 100%;
}

.black{
    background: #212121;
    border: 6px solid #212121;
}

.logo-p{
    font-weight: 200;
    text-align: center;
    letter-spacing: 2px;
    margin: 40px 0px;
    padding: 0px 100px;
    font-size: 18px;
}

@media only screen and (min-width: 1000px){
    .logo-p{
        padding: 0px 150px;
    }
}

.main-card{
    padding: 60px 0px;
    text-align: center;
}

.col-article-one{
    width: 25%;
    display: inline-block;
    text-align: center;
}

.col-article-one>img{
    width: 100%;
}

/*---media queries -----*/



@media only screen and (max-width:820px) and (min-width:700px){
    body{
        padding: 30px 10px;
        font-size: 16px;
    }

    .main-nav-ul>li{
        padding: 0px 8px;
        font-size: 16px;
    }

    .logo-p, .logo-title{
        font-size: 14px;
    }

    .main-card{
        padding: 30px 0px;
    }
    
    #footer-img{
        width: 60px;
    }

}

@media only screen and (max-width:699px){
    body{
        font-size: 14px;
        padding: 30px 10px;
    }

    .main-nav-ul>li{
        padding: 0px 8px;
        font-size: 14px;
    }

    #main-img{
        width:80px;
    }

    .logo-p, .logo-title{
        font-size: 14px;
    }

    .main-card{
        padding: 30px 0px;
    }
    
    #footer-img{
        width: 60px;
    }

}

@media only screen and (min-width:576px){ /* do not display small logo and toggle menu on big screens*/
    .toggle-icon{
        display: none;
    }

    #small-screen-logo{
        display: none;
    }
}

@media only screen and (max-width:575px){ /*--- hide big logo and full menu set up on small screens and add toggle menu*/


    .main-nav-ul>li{
        display: block;
        font-size: 20px;
        padding: 8px;
    }

    #hide, #main-img{
        display: none;
        width: 0px;
    }

    .main-nav{
        width: 50%;
        display: inline-block;
    }

    .main-nav-ul{
        display: inline-block;
        padding: 8px 0px;
        text-align: center;
    }

    .sub-nav-ul{
        position: relative;
        text-align: center;
        z-index: 2;
    }

    .sub-nav-ul>li{
        padding: 8px 0px;
        font-size: 20px;
        z-index: 2;
    }

    .toggle-icon{
        display: inline-block;
        font-size: 30px;
        color: #e0e0e0;
        position: relative;
        left: 10px;
        width: 45%;
        vertical-align: top;
    }

    .small-logo-div{
        text-align: right;
        display: inline-block;
        width: 50%;
    }

    header{
        margin-bottom: 20px;
    }

    .menu-modal{
        background-color:rgb(52,58,64, 0.7); /*rgb(52,58,64, 0.4)*/
        display: none;
        z-index: 1;
        overflow: auto;
        width: 100%;
        height: 100%;
        position: fixed;
        padding-top: 110px; 
        left: 0;
        top: 0;
        text-align: center;
    }

    .social-links>li{
        display: block;
        font-size: 14px;
        padding: 4px 10px;
    }

    #footer-img{
        width: 70px;
    }

    .hero-message{
        font-size: 14px;
    }

    .main-nav-ul>li>a{
        color:white;
    }

    .logo-p{
        padding: 0px 10px;
        letter-spacing: 3px;
    }

    .col-article-one{
        width: 90%;
    }

    main{
        margin-top: 30px;
    }

    .col-one-mobile{
        width: 100%;
        padding-bottom: 10px;
    }

    .col-article-one{
        padding-bottom: 10px;
    }
}

.form>input{
    width: 90%;
    font-size: 16px;
    font-family: 'Barlow', 'sans-serif';
    letter-spacing: 2px;
}

.form>label{
    display: block;
    padding: 6px 0px;
    text-transform: lowercase;
    font-size: 16px;
    letter-spacing: 2px;
}

.form>textarea{
    width: 90%;
    height: 150px;
    margin-top: 10px;
    font-family: 'Barlow', 'sans-serif';
    letter-spacing: 2px;
    padding: 2px;
    font-size: 16px;
}

.contact-img>img{
    object-position: top;
    object-fit: cover;
    height: 15vw;
    margin-top: 30px;
}

.submit-button{
    padding: 6px 0px;
    margin-top: 6px;
    text-transform: lowercase;
    letter-spacing: 2px;
    font-size: 16px;
    width: 40%!important;
}

.contact-main{
    text-align: center;
    margin: 30px 0px;
}

.row-contact{
    width: 50%;
    display: inline-block;
    padding-bottom: 16px;
}

.form-div, .contact-img{
    display: block;
    margin: 5px 0px;
}

.contact-img>img, .form-div>form{
    width: 100%;
}

.half-margin{
    margin: 20px 0px;
    font-size: 16px;
}

@media only screen and (max-width: 700px){

    .row-contact{
        width: 80%;
    }

    .contact-img>img{
        object-position: top;
        object-fit: cover;
        height: 25vw;
    }
}